/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

*{
  padding: 0px;
  margin: 0px;
  width: auto  ;
  word-break: break-all;
  word-wrap: break-word;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


