<div *ngIf="city" style="width: 100%;">

    <h1> Россия, {{city.name}} </h1>
  
    <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: nowrap;">
  
  
      <div style="width: 100%; padding-left: 20px; padding-right: 20px; padding:20px; display: flex; flex-direction: row;">
  
          <!-- open side menu -->
          <button mat-raised-button (click)="leftSide.opened=true && rightSide.opened=true" class="link-active">
            <mat-icon>menu</mat-icon>параметры
          </button>
          <button mat-raised-button (click)="setRandomTimeRange()" class="link-active">
            случайный период
          </button>
  
          <!-- <mat-icon>insert_chart</mat-icon> -->
           
      </div>
    </div>
  </div>
  
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; height: 100%; width: 100%; ">
    <mat-drawer-container style="width: 100%;">
  
  
      <!-- left side nav -->
      <mat-drawer mode="side" #leftSide>
        <div (mouseleave)="!(leftSide.opened=false) && !(rightSide.opened=false)">
          <h6>Параметры: </h6>
          <mat-button-toggle-group style="width: 100%;" [multiple]="true" style="display: flex; flex-direction: column; flex-wrap: nowrap;">
            <mat-button-toggle *ngFor="let param of params" (change)="toggleParam(param.name)"  [value]="param.value" style="width: 100%;"  > {{ param.label }} </mat-button-toggle>
          </mat-button-toggle-group>  
        </div>
      </mat-drawer>
  
      <!-- right side nav -->
      <mat-drawer mode="side" position="end" #rightSide>
        <div (mouseleave)="!(leftSide.opened=false)&&!(rightSide.opened=false)" style="width: 100%; height: 100%;">
          <h2> Период </h2>
          <mat-form-field appearance="fill">
            <mat-label>Начало периода</mat-label>
            <input matInput [matDatepicker]="beginPicker" [min]="minDateLimit" (dateInput)="onDateChange('minDate',$event)" [max]="getMinDate(maxDateLimit,maxDate)" value="minDate" (input)="trace($event)" (changes)="trace($event)">
            <mat-datepicker-toggle matSuffix [for]="beginPicker" (changes)="trace($event)"></mat-datepicker-toggle>
            <mat-datepicker #beginPicker></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Конец периода</mat-label>
            <input matInput [matDatepicker]="endPicker" [min]="minDate" [max]="maxDateLimit" (dateInput)="onDateChange('maxDate',$event)" value="maxDate" (input)="trace($event)" (changes)="trace($event)">
            <mat-datepicker-toggle matSuffix [for]="endPicker" (changes)="trace($event)"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-drawer>
  
      <mat-drawer-content style="width: 100%; ">

        <!-- table view -->
        <div style="width: 100%;">

          <!-- chart view -->
          <div style=" width: 100%; height: 100%;">
            <div *ngFor="let param of params">
              <ui-chart *ngIf="param.value" [title]="param.label" [series]="paramsMap[param.name].data" [yLabel]="paramsMap[param.name].yLabel" [categories]="categories" (init)="param.chart=$event" (destroy)="param.chart=null"></ui-chart>
            </div>
            
          </div>
        </div>        
  
        <!-- bottom panels -->
        <div *ngIf="onecall" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-items: flex-end; justify-content: flex-start;" >
          <div style="margin: 3px; width: 133px;" align="center" *ngFor="let day of onecall.daily" >
            <button class="shadow-box" style="background-color: var(--blue); color: white;" *ngIf="day">
              <b> {{ timeUtilitiesService.getFullDayOfWeek(day.dt) }} </b>
              <div align="center" style="width: 100%;">
                <p>{{ day.temp.day }}℃</p>
              </div>
              <div *ngFor="let weather of day.weather">
                <img [attr.src]="'http://openweathermap.org/img/wn/'+weather.icon.replace('n','d')+'@'+'2x.png'"/>
                <div style=" word-wrap: break-word;">{{ weather.description.split(' ')[0] }}</div>
              </div>
              <p> {{ (day.dt*1000) | date: 'dd.MM.yyyy'}} </p>
            </button>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  
  </div>
  